*{
    padding: 0px;
    margin: 0px;
}
.container-perusahaan{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    column-gap: 2%;
    height: 1000px;
}
.content-top-perusahaan{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-content-perusahaan{
    background-color: white;
    border-radius: 20px;
    height: 900px;
    width: 800px;
    padding: 30px;
}
.content-main-perusahaan{
    width: 100%;
    column-gap: 4%;
    row-gap: 4%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 20px;
    
}
.container-dropdown-perusahaan{
    width: 32%;
    display: flex;
    justify-content: space-between;
}
.card-perusahaan{
    color: rgb(116, 116, 116);
    transition: 0.5s;
    border: none;
}
.card-perusahaan:hover{
    opacity: 0.4;
}
.image-card{
    height: 200px;
    width: 100%;
    padding: 5px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
.des-card{
    height: 150px;
    width: 100%;
    padding: 5px;
    
    overflow: hidden;
    

}
